// .details {
//     display: flex;
//     justify-content: space-around;
//     flex-wrap: wrap;
//     margin: 50px 0;
// }

// .details img {
//     max-width: 500px;
//     min-width: 290px;
//     height: 300px;
//     display: block;
//     object-fit: cover;
//     margin: 25px;
// }

// .details .box {
//     max-width: 500px;
//     min-width: 290px;
//     margin: 25px;
// }

// .box .row {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 15px;
// }

// .box .row h2 {
//     text-transform: uppercase;
//     letter-spacing: 2px;
// }

// .box .row span {
//     color: crimson;
// }

// .box button {
//     width: 30px;
//     height: 30px;
//     border: 1px solid #333;
//     outline: none;
//     margin-right: 5px;
//     cursor: pointer;
// }

// .box p {
//     line-height: 1.5;
//     margin: 15px 0;
// }

// .box .cart {
//     background: #333;
//     color: white;
//     text-decoration: none;
//     padding: 10px 25px;
//     display: inline-block;
// }


/* -----------------------Details--------------- */
.details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .img-container {
        max-width: 400px;
        width: 100%;
        margin: 20px;
        height: 450px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img-container:hover {
        background-size: 150%;
        border: 1px solid #ddd;
        cursor: zoom-in;
    }

    .box-details {
        max-width: 500px;
        width: 100%;
        margin: 20px;
    }

    .box-details h2 {
        text-transform: uppercase;
        color: darkblue;
        letter-spacing: 2px;
        font-size: 2rem;
    }

    .box-details button,
    .box-details .cart {
        border: 1px solid #555;
        outline: none;
        background: #333;
        cursor: pointer;
        color: white;
        margin-right: 5px;
        margin-top: 10px;
    }

    .colors button,
    .sizes button {
        width: 35px;
        height: 35px;
    }

    .box-details p {
        line-height: 1.5;
        margin: 10px 0;
        opacity: 0.8;
    }

    .box-details h3 {
        color: crimson;
    }

    .box-details .thumb {
        display: flex;
        cursor: pointer;
    }

    .box-details .thumb img {
        width: 50px;
        height: 45px;
        display: block;
        object-fit: cover;
        margin: 20px;
        overflow: hidden;
    }

    .box-details .cart {
        padding: 10px 25px;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: inline-block;
    }
}

#detail_product {
    padding: 100px;

    .details {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .img-container {
            max-width: 400px;
            width: 100%;
            margin: 20px;
            height: 450px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .img-container:hover {
            background-size: 150%;
            border: 1px solid #ddd;
            cursor: zoom-in;
        }

        .box-details {
            max-width: 500px;
            width: 100%;
            margin: 20px;
        }

        .box-details h2 {
            text-transform: uppercase;
            color: darkblue;
            letter-spacing: 2px;
            font-size: 2rem;
        }

        .box-details button,
        .box-details .cart {
            border: 1px solid #555;
            outline: none;
            background: #333;
            cursor: pointer;
            color: white;
            margin-right: 5px;
            margin-top: 10px;
        }

        .colors button,
        .sizes button {
            width: 35px;
            height: 35px;
        }

        .box-details p {
            line-height: 1.5;
            margin: 10px 0;
            opacity: 0.8;
        }

        .box-details h3 {
            color: crimson;
        }

        .box-details .thumb {
            display: flex;
            cursor: pointer;
        }

        .box-details .thumb img {
            width: 50px;
            height: 45px;
            display: block;
            object-fit: cover;
            margin: 20px;
            overflow: hidden;
        }

        .box-details .cart {
            padding: 10px 25px;
            text-transform: uppercase;
            letter-spacing: 2px;
            display: inline-block;
        }
    }
}

@media (max-width: 700px) {
    header {
        justify-content: space-between;
    }

    ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: 0.98;
        z-index: 99;
        transition: 0.5s ease-in;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    ul li .menu {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

@media (max-width: 500px) {
    .details {
        padding: 0;
    }

    .box-details .thumb img {
        width: 40px;
        height: 35px;
    }

    .details .img-container {
        height: 350px;
    }
}